body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(107, 49, 22);
}

h1{
    line-height: 32px;
    text-align: right;
}

.headerStyle {
    background-color:grey;
    display: inline;
}

.unversalImageStyle{
    height: 500px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    align-content: right;
}

/* --------------- header area --------------- */

header {
    background-color: rgb(107, 49, 22);
    color: wheat;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

ul li a {
    padding: 20px;
    display: block;
    color: wheat;
    text-decoration: none;
}

header li {
    display: inline-block;
}   

li:hover{
    background-color: rgb(76, 34, 14);

}

section{
    padding: 32px;
}

/* --------------- boxes --------------- */
#boxes {
    background: url("https://sothebys-com.brightspotcdn.com/b9/5f/d4b55ee64cadb1a43165305c2990/068hk0732-9fcmh.jpg") no-repeat fixed center center/cover;
}

.box{
    display: inline-block;
    margin: 32px;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    height: 200px;
    width: 200px;
    background:rgb(107, 49, 22);
    margin-bottom: 10px;
}

.box1 {
    border-style: groove;
    border-color:saddlebrown;
    border-width: 12px;
}

.box2 {
    border-radius: 12px;
    border-color:chartreuse;
    border-width: 4px;
    border-style: outset;
}

.box3 {
    border-radius: 50%;
    border-style: dotted;
    border-width: 4px;
    border-top-color:lemonchiffon;
    border-right-color: lightpink;
    border-bottom-color: aquamarine;
    border-left-color: sandybrown;
}

.box4 {
    height: 100px;
    border-style:ridge;
    border-color:lemonchiffon;
    border-width: 4px;
    border-radius: 12px;
}

.box5 {
    width: 500px;
    border-radius: 12px;
}

/* table */
table {
    border-collapse: collapse;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

td {
    width: 200px;
}

thead {
    font-weight: bold;
    background:rgb(76, 34, 14);
    color: wheat;

}

tbody td {
    border-bottom:  1px solid rgb(107, 49, 22);
    text-align: center;
    padding: 6px;
}