*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pm{

}

.site-title{

}

.post-title{

}

.section-post-container{

}

.post-meta{

}

.main-content-container{

}

.main-content{

}

.main-content-img{

}

.side-bar{

}

.ads{

}

.other-stuff{
    
}